<h2>Discover New Flavors - Search and Manage Your Food Adventures:</h2>

<div class="search-bar">
    <input type="text" id="searchLocation" placeholder="Enter a city or location..." />
    <input type="text" id="searchInput" placeholder="What are you craving?" />
    <button id="searchButton" class="btn btn-primary">Search</button>
</div>

<div class="explorer">
    <div id="map" class="explorer-map"></div>
      <div class="explorer--text">
        <input
          type="text"
          class="explorer--search explorer--background-icon explorer--text"
          id="explorer-search"
          placeholder="Search Foursquare Places"
        />
        <div id="explorer-dropdown">
          <ul id="explorer-suggestions"></ul>
          <div id="explorer-error" class="explorer--error explorer--background-icon">
            Something went wrong. Please refresh and try again.
          </div>
          <div id="explorer-not-found" class="explorer--error explorer--background-icon"></div>
          <div class="explorer--copyright">
            <img src="https://files.readme.io/7835fdb-powerByFSQ.svg" alt="powered by foursquare" />
          </div>
        </div>
    </div>
</div>

{{#each posts as |post| }}
<a href="/dashboard/posts/{{id}}">
    <div class="post-div ">
        <div class="col-md-6">
            <h3>{{post.title}}</h3>
        </div>
        <div class="col-md-6">
            <p>{{post.content}}</p>
        </div>
        <p>By user {{user.user}} on {{post.creationDate}}</p>
    </div>
</a>
{{/each}}

<script src="/js/dashboard.js"></script>
<script src="/js/mapbox.js"></script>
<link href="/css/mapbox.css" rel="stylesheet" />