<div id="homepage">
  <h2 class="subtitle">Homepage - Check out the saved food adventures!</h2>

  {{#each posts as |post|}}
    <div class="post-div card">
      <div id="post-div" class="card-content">
        <div id="post-user">
          <p class="subtitle">{{post.user.user}}</p>
          <p>{{post.creationDate}}</p>
        </div>
        <div id="post-content" >
          <div class="search-title">
            <h3 class="subtitle">{{post.title}}</h3>
            <p id="search-address">{{post.content}}</p>
            <p id="post-text">{{post.text}}</p>
          </div>
          <div class="images">
            <imgclass="image is-128x128"src="{{post.image}}"alt="{{post.title}}"/>
          </div>
        </div>
      </div>
    <a class="button is-small" href="/posts/{{post.id}}">View Post</a>
    </div>
  {{/each}}
</div>