<div id="homepage">
  <div class="box">
    <p id="homepage-tags">Name:</p>
    <h2 class="subtitle">{{posts.title}}</h2>
    <P id="homepage-tags">Address:</P>
    <p>{{posts.content}}</p>
    <p id="homepage-tags">Review:</p>
    <p id="post-text">{{posts.text}}</p>
    <p id="homepage-tags">User:</p>
    <p>{{posts.user.user}} on {{posts.creationDate}}</p>
  </div>
  <h3>Comments:</h3>
  <div id="comment-div" class="box">
    {{#each posts.comments as |comment|}}
    <div id="comments">
      <p id="comment-text">{{comment.commentContent}}</p>
      <p id="homepage-tags">{{comment.user.user}} on {{comment.commentDate}}</p>
    </div>
    {{/each}}
  </div>

  {{#if logged_in}}
    <form class="comment-form">
      <div class="subtitle">Add a comment to this blog post:</div>
      <div class="input-container ic1">
        <input id="commentContent"class="input"type="text"placeholder="Add comment here"/>
      </div>
      <button id="addComment" class="button" type="submit">Add comment</button>
    </form>
  {{/if}}
</div>
<script src="/js/addComments.js"></script>