<h2>Homepage - Check out the saved food adventures!</h2>

{{#each posts as |post|}}
<div class="post-div">
    <h3>{{post.title}}</h3>
    <img src="{{post.image}}" alt="{{post.title}}" class="post-image"> <!-- Add class for images -->
    <p>{{post.content}}</p>
    <p>{{post.text}}</p>
    <p>By user {{post.user.user}} on {{post.creationDate}}</p>
    <a href="/posts/{{post.id}}">View Post</a>
</div>
{{/each}}