<div id="search-results">
    <h2 class="subtitle">Search Results:</h2>

    {{#each results as |business|}}
    <div class="business-div">
        <div id="search-title-image">
        <div id="search-title">
            <h3 class="subtitle">{{business.name}}</h3>
            <p>{{business.location.formatted_address}}</p>
            <p>{{business.description}}</p>
            <p>Rating: {{business.rating}}</p>
        </div>
        <div id="images" class="is-flex">
            <div id="img">
                {{#if business.photos.[0]}}
                <img src="{{business.photos.[0].prefix}}original{{business.photos.[0].suffix}}" alt="Image of {{business.name}}" style="width:300px;height:auto;">
                {{else}}
                <p>No image available</p>
                {{/if}}
            </div>
            <div>
                <div>
                    {{#if business.photos.[1]}}
                    <img src="{{business.photos.[1].prefix}}original{{business.photos.[1].suffix}}" alt="Image of {{business.name}}" style="width:150px;height:auto;">
                    {{else}}
                    <p>No image available</p>
                    {{/if}}
                </div>
                <div>
                    {{#if business.photos.[2]}}
                    <img src="{{business.photos.[2].prefix}}original{{business.photos.[2].suffix}}" alt="Image of {{business.name}}" style="width:150px;height:auto;">
                    {{else}}
                    <p>No image available</p>
                    {{/if}}
                </div>
            </div>
        </div>
        </div>
        <textarea class="textarea" data-text placeholder="Write your thoughts about this place..."></textarea>
        <button class="save-post-button button" data-title="{{business.name}}" data-content="{{business.location.address}}">Save Post</button>
        <a href="https://foursquare.com/v/{{business.fsq_id}}" class="button" target="_blank">View on Foursquare</a>
    </div>
    {{/each}}
</div>
<script src="/js/savePost.js"></script>